body {
  font-family: Uncut Sans, sans-serif;
  background-image: linear-gradient(to bottom, #effaff8c, #ffffff 11em),
    url(../assets/header_grid2.png);
  background-repeat: repeat;
}

.blogcontent {
  max-width: 60em;
  text-align: justify;
}

.blogcontent p {
  hyphens: auto;
}

.blogcontent a {
  hyphens: auto;
  word-break: break-all;
}

.blogbody {
  max-width: 42em;
  text-align: justify;
}
.blogbody p,
.blogbody li {
  line-height: 1.7rem;
}

.blogcontent img {
  max-width: 100%;
  padding: 1em 0.8em;
  border-radius: 1%;
}

.blogbody h2 {
  margin-top: 2rem;
}
.blogbody h3 {
  margin-top: 1.5rem;
}

#blogtitle {
  text-align: center;
  font-size: calc(2.4rem + 1.5vw);
}

blockquote {
  border-left: rgb(237, 237, 237) 3px solid;
  padding-left: 0.8rem;
}
