main .container-fluid {
    border: 2px sollid red;
}


/* footer CSS */

footer {
    background-color: rgba(29, 28, 28, 0.955);
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
}