<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "analytics.html" . -}}
    {{- partial "header.html" . -}} {{- with .OutputFormats.Get "AMP" }}
    <link rel="amphtml" href="{{ .RelPermalink | absURL }}" />
    {{- end }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&family=Source+Sans+3:ital,wght@0,400;0,600;0,700;1,400&family=JetBrains+Mono:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="/css/blog.css?v=21" rel="stylesheet" />
    {{- partial "seoblogs.html" . -}}
  </head>

  <body class="{{ if eq .Kind "page" }}blogpost{{ end }}">
    {{- partial "grid_canvas.html" . }}
    {{- partial "navbar.html" .}}

    <div class="container py-3 contentcontainer maincontent">
      <div class="row flex-nowrap row justify-content-evenly">
        <div class="col-lg-12 blogcontent">{{- block "main" . }}{{- end }}</div>
      </div>
    </div>

    {{- partial "footer.html" . -}}
  </body>

  {{- partial "jslibraries.html" . -}}

  <!-- PAGE SPECIFIC JS -->
  {{- block "pagespecificjs" . }}{{- end }}
</html>
