{{ define "main" }}



<h1 id="blogtitle">
  {{.Title}}
</h1>

<div class="row">

<div class="col">
  <i class="bi bi-calendar4-event me-1"></i><span>{{ .Date.Format "Jan 2, 2006" }}</span><span class="text-end"> · {{ .ReadingTime }} min{{ if (ne .ReadingTime 1) }}s{{ end }} read</span>

<div class="mt-1">
  {{ range (.GetTerms "tags") }}
  <span class="badge bg-secondary">{{ .LinkTitle }}</span>
  {{ end }}
</div>
  
</div>

<div class="col">

  {{ partial "share-buttons.html" . }}
</div>
</div>


<hr>

{{ .Content}}

{{ end }}