{{ define "main" }}
<main class="pt-5 contentcontainer container py-3">
  <div class="row">
    <div class="col maincontent">
      <h1>Get secure tunnel to your favourite app or service</h1>

      <div class="input-group my-5">
        <input
          class="form-control"
          type="search"
          id="quickstart-search-input"
          placeholder="Search"
        />
        <span class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="quickstart-search-btn"
          >
            <i class="bi bi-search"></i>
          </button>
        </span>
      </div>

      {{.Content}}
      <div class="row quickstartcard-container">
        {{ range .Pages.ByDate }}
        <div
          class="col-12 col-sm-6 col-lg-4 quickstartcard mb-3"
          data-title="{{ .Title }}"
          data-description="{{ .Description }}"
        >
          <a href="{{ .RelPermalink }}" class="text-decoration-none text-reset">
            <div class="card mb-3 h-100" style="max-width: 540px">
              <div class="row g-0 h-100">
                {{ with .Params.og_image }}
                <div class="col-md-4 d-flex justify-content-center">
                  <img
                    src="{{ . }}"
                    class="img-fluid rounded-start"
                    alt=""
                    style="width: 100%; padding: 1rem"
                  />
                </div>
                {{ end }}
                <div {{ if ne .Params.og_image "" }}class="col-md-8"{{ end }}>
                  <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text fs-6">{{ .Description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}{{ define "pagespecificjs" }} {{ end }}
