{{/* Container for Banner */}}
<div class="container-fluid Banner_Section">

    {{/* Banner Text */}}
    <div class="Banner text-center pt-lg-5 pt-3 ">
        <p class="text-white Banner_Text  py-1">{{ .Params.Banner_Text}}</p>
        <p class="text-muted Banner_Description py-1">{{ .Params.Banner_Description_Line1}} <br> {{ .Params.Banner_Description_Line2}}</p>
    </div>
    <div class=" text-center text-white client_info" id="client_OS_info"></div>
    <div class=" text-center text-white  client_info" id="client_arch_info"></div>

    {{/* Banner Buttons */}}
    <div class="Banner_Buttons d-flex flex-wrap flex-md-row flex-column justify-content-center pb-lg-5 pb-2">
        <a id="downloadlink" href="javascript:void(0)" class="btn btn-primary px-4 py-2 mx-2 my-md-2 my-1">Download <span id="downloadlinktext"></span></a>
        <a href="javascript:void(0)" class="btn btn-outline-light px-2 py-2 mx-1 my-md-2 my-1">Learn More</a>
    </div>
</div>