<div class="sidebar">
  <span
    id="sidebarclosebtn"
    class="fs-5 text-center text-black border border-dark rounded px-2"
    onclick="hidesidebar()"
    ><i class="bi bi-x"></i
  ></span>

  <a
    href="/docs/"
    class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
  >
    <span class="fs-5" style="font-weight: 500">Documentation</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#gettingstarted-collapse"
        aria-expanded="true"
      >
        Getting Started
      </button>
      <div class="collapse show" id="gettingstarted-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/" class="link-dark rounded">Quickstart</a>
          </li>
          <li class="doclink">
            <a
              href="/docs/guides/long_running_tunnels/"
              class="link-dark rounded"
              >Long-running Tunnels</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#http-collapse"
        aria-expanded="false"
      >
        HTTP Tunnels
      </button>
      <div class="collapse" id="http-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/http_tunnels/" class="link-dark rounded"
              >HTTP/HTTPS Tunnels</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/http_tunnels/basic_auth/" class="link-dark rounded"
              >Basic Authentication</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/http_tunnels/key_auth/" class="link-dark rounded"
              >Key Authentication</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/http_tunnels/ip_whitelist/" class="link-dark rounded"
              >IP Whitelist</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/advanced/live_header/" class="link-dark rounded"
              >Live Header Modification</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/advanced/advanced_options/" class="link-dark rounded"
              >Advanced Settings</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tcp-collapse"
        aria-expanded="false"
      >
        TCP Tunnels
      </button>
      <div class="collapse" id="tcp-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/tcp_tunnels/" class="link-dark rounded"
              >TCP Tunnels</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/tcp_tunnels/ip_whitelist/" class="link-dark rounded"
              >IP Whitelist with TCP Tunnels</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="doclink">
      <a href="/docs/udp_tunnels/" class="btn btn-non-toggle">UDP Tunnels</a>
    </li>
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tls-collapse"
        aria-expanded="false"
      >
        TLS Tunnels
      </button>
      <div class="collapse" id="tls-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/tls_tunnels/" class="link-dark rounded"
              >TLS Tunnels</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/tls_tunnels/ip_whitelist/" class="link-dark rounded"
              >IP Whitelist with TLS Tunnels</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tlstcp-collapse"
        aria-expanded="false"
      >
        TLSTCP Tunnels
      </button>
      <div class="collapse" id="tlstcp-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/tlstcp_tunnels/" class="link-dark rounded"
              >TLSTCP Tunnels</a
            >
          </li>
          <li class="doclink">
            <a
              href="/docs/tlstcp_tunnels/ip_whitelist/"
              class="link-dark rounded"
              >IP Whitelist with TLSTCP Tunnels</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="doclink">
      <a href="/docs/advanced/qr_code/" class="btn btn-non-toggle">QR Code</a>
    </li>
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tunnel-startup-collapse"
        aria-expanded="false"
      >
        Run Tunnel on Startup
      </button>
      <div class="collapse" id="tunnel-startup-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/run_tunnel_on_startup/" class="link-dark rounded"
              >For Windows</a
            >
          </li>
          <li class="doclink">
            <a
              href="/docs/run_tunnel_on_startup/linux/"
              class="link-dark rounded"
              >For Linux</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="doclink">
      <a href="/docs/persistent_subdomain/" class="btn btn-non-toggle"
        >Persistent Subdomain</a
      >
    </li>
    <li class="doclink">
      <a href="/docs/client_behind_proxy/" class="btn btn-non-toggle">Client Behind Proxy</a>
    </li>
    <li class="doclink">
      <a href="/docs/usages/" class="btn btn-non-toggle">Usages</a>
    </li>

    <li class="border-top my-3"></li>
    <li class="mb-1 collapsabledoclink">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#orders-collapse"
        aria-expanded="false"
      >
        Use cases
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="doclink">
            <a href="/docs/guides/nextjs/" class="link-dark rounded"
              >Host Next.js on laptop</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/guides/sharefiles/" class="link-dark rounded"
              >Share files</a
            >
          </li>
          <li class="doclink">
            <a href="/docs/guides/ssh_iot/" class="link-dark rounded"
              >Access IoT devices</a
            >
          </li>
          <li class="doclink">
            <a
              href="/blog/host_website_on_android/"
              target="_blank"
              class="link-dark rounded"
              >Host a server on Android</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
