<div class="sidebar">
    <span id="sidebarclosebtn" class="fs-5 text-center text-black border border-dark rounded px-2" onclick="hidesidebar()"><i class="bi bi-x"></i></span>

    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Documentation</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#gettingstarted-collapse" aria-expanded="true">
            Getting Started
          </button>
          <div class="collapse show" id="gettingstarted-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/docs" class="link-dark rounded">Quickstart</a></li>
              <li><a href="/docs/guides/long_running_tunnels" class="link-dark rounded">Long-running Tunnels</a></li>
            </ul>
          </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Pinggy Tunnels
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/docs/http_tunnels" class="link-dark rounded">HTTP/HTTPS Tunnels</a></li>
            <li><a href="/docs/persistent_subdomain" class="link-dark rounded">Persistent Subdomain</a></li>
            <li><a href="/docs/advanced/qr_code" class="link-dark rounded">QR Code</a></li>
            <li><a href="/docs/advanced/live_header" class="link-dark rounded">Live Header Modification</a></li>
            <li><a href="/docs/tcp_tunnels" class="link-dark rounded">TCP Tunnels</a></li>
          </ul>
        </div>
      </li>
      <!-- <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
          Pinggy Dashboard
        </button>
        <div class="collapse show" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Overview</a></li>
          </ul>
        </div>
      </li> -->
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
          Use cases
        </button>
        <div class="collapse show" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/docs/guides/nextjs" class="link-dark rounded">Host Next.js on laptop</a></li>
            <li><a href="/docs/guides/sharefiles" class="link-dark rounded">Share files</a></li>
            <li><a href="/docs/guides/ssh_iot" class="link-dark rounded">Access IoT devices</a></li>
            <li><a href="/blog/host_website_on_android/" target="_blank" class="link-dark rounded">Host a server on Android</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>