{{/* Container for Features Section */}}
<div class="container-fluid Services d-flex flex-column flex-wrap flex-md-row justify-content-center py-5 my-lg-3 my-2 ">

    {{/* #Feature 1 */}}
    <div class="col-lg-3 col-md-12 px-2 py-4 mx-2">
        <div class="feature-icon bg-primary bg-gradient text-white rounded-3 p-3 mb-3"><i class="fa fa-database" aria-hidden="true"></i></div>
        <div class="feature-name">Test your website</div>
        <div class="feature-description">Get a public URL for your website running locally and <br> send it to your clients and friends.</div>
    </div>

    {{/* #Feature 2 */}}
    <div class="col-lg-3 col-md-12 px-2 py-4 mx-2">
        <div class="feature-icon bg-primary bg-gradient text-white rounded-3 p-3 mb-3"><i class="fa fa-rss" aria-hidden="true"></i></div>
        <div class="feature-name">Connect your IoT</div>
        <div class="feature-description">Access your IoT devices from anywhere with Pinggy public URLs. You can also now SSH into your devices through Pinggy TCP tunnels.
        </div>
    </div>

    {{/* #Feature 3 */}}
    <div class="col-lg-3 col-md-12 px-2 py-4 mx-2">
        <div class="feature-icon bg-primary bg-gradient text-white rounded-3 p-3 mb-3"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
        <div class="feature-name">Receive Webhooks</div>
        <div class="feature-description">Host your chatbots in your local network and receive webhooks through Pinggy tunnel.</div>
    </div>
</div>