 {{/* Footer Section */}}
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row text-white justify-content-center">
            <div class="col-md-8">
                <a class="link-light text-decoration-none" href="/contact_us">Contact Us</a>
                <span class="mx-2 text-secondary">•</span>
                <a class="link-light text-decoration-none" href="/terms_of_service">Terms of Service</a>
                <span class="mx-2 text-secondary">•</span>
                <a class="link-light text-decoration-none" href="/privacy_policy">Privacy Policy</a>
            </div>
            <div class="col-md-4">
                <p class="m-0 text-end text-white" id="copyrighttext">Copyright &copy; Pinggy 2023</p></div>
            </div>
        </div>

    </div>

</footer>

{{/* Function For Automatically generating Year */}}
<script>
    var date = new Date();
    document.getElementById("copyrighttext").innerHTML = "Copyright&copy;&nbsp;&nbsp; Pinggy &nbsp;&nbsp;" + date.getFullYear();
</script>