 {{/* Footer Section */}}
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5">
        <div class="row text-white justify-content-center text-center">
            <div class="col-md-3">
                <a class="link-light text-decoration-none" href="/contact_us">Contact Us</a>
            </div>
            <div class="col-md-3">
                <a class="link-light text-decoration-none" href="/terms_of_service">Terms of Service</a>
            </div>
            <div class="col-md-3">
                <a class="link-light text-decoration-none" href="/privacy_policy">Privacy Policy</a>
            </div>
        </div>
        <hr class="border border-light border-1 opacity-20">

    </div>
    <div class="container px-5"><p class="m-0 text-center text-white" id="copyrighttext">Copyright &copy; Pinggy 2022</p></div>

</footer>

{{/* Function For Automatically generating Year */}}
<script>
    var date = new Date();
    document.getElementById("copyrighttext").innerHTML = "Copyright&copy;&nbsp;&nbsp; Pinggy &nbsp;&nbsp;" + date.getFullYear();
</script>