<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if .IsHome }}Pinggy - Simple Localhost Tunnels{{ else }}{{ if .Page.Title }}{{ .Page.Title }} - {{.Site.Title}}{{ end }}{{ end }}</title>


<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/syntax.css">
<link href="/css/customizations.css?v=1" rel="stylesheet" />
