<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  {{ if .IsHome }}Pinggy - Simple Localhost Tunnels{{ else }}{{ if .Page.Title
  }}{{ .Page.Title }} - {{.Site.Title}}{{ end }}{{ end }}
</title>

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

<!-- Core theme CSS (includes Bootstrap)-->
{{ $styles := resources.Get "/css/style.css" | resources.Minify }} {{ $syntax :=
resources.Get "/css/syntax.css" | resources.Minify }} {{ $customization :=
resources.Get "/css/customization.css" | resources.Minify }}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
<link rel="stylesheet" href="{{ $syntax.RelPermalink }}" />
<link rel="stylesheet" href="{{ $customization.RelPermalink }}" />
