<!-- JS LIBRARIES -->
{{ $jquery := resources.GetRemote "https://code.jquery.com/jquery-3.6.3.min.js" }}
{{ $alpine := resources.GetRemote "https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" }}
{{ $bootstrap := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" }}
{{ $typewriter := resources.Get "/js/typewriter.js" }}
{{ $pinggyshortcode := resources.Get "/js/pinggytunnelshortcode.js" }}
{{ $pinggycommand := resources.Get "/js/pinggycommand.js" }}
{{ $cidrvalidation := resources.Get "/js/cidrformatvalidation.js" }}
{{ $main := resources.Get "/js/index.js" }}
{{ $clipboard := resources.Get "/js/clipboard.min.js" }}
{{ $doc := resources.Get "/js/doc.js" }}
{{ $quickstart := resources.Get "/js/quickstartsearch.js"}}

{{ $js := slice $jquery $alpine $bootstrap
$typewriter $pinggyshortcode $pinggycommand $cidrvalidation $main $clipboard $doc 
$quickstart | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}

<script
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  crossorigin="anonymous"
></script>

<!-- Enable tooltip -->
<script type="text/javascript">
  const tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    const tooltip = new bootstrap.Tooltip(tooltipTriggerEl, {
      trigger: "manual",
    });

    let tooltipTimeout;
    let currentToolTip;

    tooltipTriggerEl.addEventListener("mouseenter", function () {
      let toolTipID;

      // Clear Set Timeout
      clearTimeout(tooltipTimeout);

      // Show Tooltip
      tooltip.show();

      // Assign current tooltip ID to toolTipID variable
      toolTipID = tooltipTriggerEl.getAttribute("aria-describedby");

      // Assign current tooltip to currentToolTip variable
      currentToolTip = document.querySelector(`#${toolTipID}`);

      // Hide tooltip on tooltip mouse leave
      currentToolTip.addEventListener("mouseleave", function () {
        tooltip.hide();
      });
    });

    tooltipTriggerEl.addEventListener("mouseleave", function () {
      // SetTimeout before tooltip disappears
      tooltipTimeout = setTimeout(function () {
        // Hide tooltip if not hovered.
        if (!currentToolTip.matches(":hover")) {
          tooltip.hide();
        }
      }, 100);
    });

    return tooltip;
  });
</script>
