 {{/* Responsive Navbar */}}
<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container  px-5">
        <a class="navbar-brand" href="#!">
            <img height="30" src="/assets/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-dark" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="downloads">Download</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="services">Services</a></li>
            </ul>
        </div>
</nav>