 {{/* Responsive Navbar */}}
 <nav class="navbar navbar-expand-lg navbar-info">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img height="24" src="/assets/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars text-white" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="text-white nav-link{{ if $.IsMenuCurrent " main " . }} active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Pre
                    }}
                    <span>{{ .Name }}</span></a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>