 {{/* Responsive Navbar */}}
 <nav class="navbar navbar-expand-lg ">
    <div class="container py-2">
       <div class="logo navbar-brand">
         <a href="/">
            <img height="50" src="/assets/pinggy_logo.png"/>
            </a>
       </div>
        <button class="navbar-toggler primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i>        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                {{ range .Site.Menus.main }}
                <li class="nav-item mx-3">
                    <a class="nav-link{{ if $.IsMenuCurrent " main " . }} active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Pre
                    }}
                    <span>{{ .Name }}</span></a>
                </li>
                {{ end }}
            </ul>
            <div class="nav-button">
                <a href="https://dashboard.pinggy.io" target="_blank" id="LoginBtn" class="p-2 mx-1"> Dashboard</a>   
            </div>
        </div>
    </div>
    <div class="container-fluid rainbowborder"></div>
</nav>
