{{ define "main" }}

<!-- Banner -->
<header class="pt-5 contentcontainer">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-lg-5">
                <div class="text-left my-5">
                    <h1 class="display-5 fw-bolder mb-2 biggestheader">Public URLs for Localhost</h1>
                    <span class="mb-2 fs-3">Without downloading any binary</span>
                    <p class="mb-4" id="lead2">Create HTTP, TCP or TLS tunnels to your Mac/PC.<br>Even if it is sitting behind firewalls and NATs.</p>

                    <div>
                        <a href="https://dashboard.pinggy.io" id="signinbutton" class="btn btn-dark mt-3">Sign in for TCP and TLS tunnels</a> <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" id="bigcodecolumn">
                <div class="text-left" id="bigcodediv">

                    <div class="input-group my-4">
                        
                            <label class="input-group-text" id="tryityourselftext">Try it yourself with:</label>
                        
                            <select class="form-select" id="techselect">
                                <option data-label="You may start a local server using:" data-command="python3 -m http.server" data-port="8000" value="python" selected>Python</option>
                                <option data-label="You may start a local server using:" data-command="npx http-server" data-port="8080" value="nodejs">Node.js</option>
                                <option data-label="Nginx by default runs at port 80" data-command="" data-port="80" value="nginx">Nginx</option>
                            </select>
                        
                    </div>

                    <label class="text-bold" id="tryityourselflabel">You may start a local server using:</label>
                    <div class="input-group mb-3">
                        <input id="tryityourselfprecommand" type="text" class="form-control" value="python3 -m http.server" readonly>
                        <button class="btn btn-outline-dark" type="button" id="copybutton2" onclick="copytoclipboard(this,'#tryityourselfprecommand', 'Pre command copy button clicked')"><i class="bi bi-clipboard"></i></button>
                    </div>


                    <form>
                            <label for="portform" class="text-bold"><strong>Your local port:</strong></label>
                            <input type="text" class="form-control" id="portform" placeholder="8000" value="8000">
                    </form>

                    <label class="text-bold mt-3"><strong>Single command to start tunnel:</strong></label>
                    <div class="input-group">
                        <input id="portcommand" class="form-control" value="ssh -p 443 -R0:localhost:8000 a.pinggy.io" readonly="readonly"></input>
                        <button class="btn btn-outline-dark" type="button" id="copybutton" onclick="copytoclipboard(this,'#portcommand','SSH url copy button clicked')"><i class="bi bi-clipboard"></i></button>
                    </div>

                    <!-- <div>
                        <a href="https://dashboard.pinggy.io" id="signinbutton" class="btn btn-primary mt-3">Sign in for TCP and TLS tunnels</a> <span></span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Features -->

        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="mb-5 text-left fw-light">Quickest way to  <span id="textchanger"></span></h2>
                    </div>
                    <div class="col-lg-10">
                        <img class="img-fluid" src="/assets/header3.png"/>
                    </div>
                </div>
                
            </div>
        </section>


        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container my-5">
                <div class="row justify-content-around">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h3 fw-bolder">Share your website and apps in seconds!</h2>
                        <p>Get a public URL for your website running locally and send it to your clients and friends.</p>
                        <!-- 
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a> 
                        -->
                    </div>
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/xVwkzh89Syw?loop=1&modestbranding=1&rel=0&controls=0&playlist=xVwkzh89Syw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </section>
        

        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h3 fw-bolder">Share files instantly</h2>
                        <p>Get a public URL for your files and share them directly from your laptop.</p>
                        <!-- 
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a> 
                        -->
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i class="bi bi-cpu"></i></div>
                        <h2 class="h3 fw-bolder">Connect your IoT</h2>
                        <p>Access your IoT devices from anywhere with Pinggy public URLs. You can also now SSH into your devices through Pinggy TCP tunnels.</p>
                        <!--                         
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                         -->
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h3 fw-bolder">Receive Webhooks</h2>
                        <p>Host your chatbots in your local network and receive webhooks through Pinggy tunnel.</p>
                        <!--                         
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                         -->
                    </div>
                </div>
            </div>
        </section>


<header class="bg-light py-5" id="prices">
    <div class="container">
        <div class="row justify-content-md-center">
            <!-- Begin Page Content -->
            <div class="col-lg-10">

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="text-bold fw-normal">Subscribe to the easiest localhost tunneling.</h1>
                <p class="fs-5 text-muted">Make your developement experience smoother by unlocking the full potential of Pinggy.</p>
            </div>

            <label class="toggler toggler--is-active" id="filt-monthly">Monthly</label>
            <label class="switch">
                <input id="toggleswitch" type="checkbox" checked="">
                <span class="slider round"></span>
            </label>
            <label class="toggler" id="filt-hourly">Yearly</label>

                <main>
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                            <div class="pricecard card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Free</h4>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div>
                                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                                        <span class="text-muted fw-light">Free for life</span>
                                    </div>
                                    <ul class="list-unstyled mt-3 mb-4 list-group text-left">
                                        <li class="list-group-item p-2">Single command tunneling</li>
                                        <li class="list-group-item p-2"><b>10 minutes tunnel timeout</b></li>
                                        <li class="list-group-item p-2">HTTP and HTTPS tunnels</li>
                                        <li class="list-group-item p-2">TCP / TLS tunnels</li>
                                        <li class="list-group-item p-2">Random domains</li>
                                        <li class="list-group-item p-2">Restricted bandwidth and connections</li>
                                        <li class="list-group-item p-2">Free mail support</li>
                                    </ul>
                                    <a class="mt-auto" href="https://dashboard.pinggy.io/"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Go to dashboard</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="pricecard card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Pro</h4>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div class="yearly">
                                        <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/mo</small></h1>
                                        <span class="text-muted fw-light">(billed annually)</span>
                                    </div>
                                    <div class="monthly">
                                        <h1 class="card-title pricing-card-title">$12<small class="text-muted fw-light">/mo</small></h1>
                                        <span class="text-muted fw-light">(billed monthly)</span>
                                    </div>
                                    <ul class="list-unstyled mt-3 mb-4 text-left list-group">
                                        <li class="list-group-item p-2">Everyting in Free plan</li>
                                        <li class="list-group-item p-2"><b>1 persistent tunnel</b></li>
                                        <li class="list-group-item p-2"><b>Persistent subdomain</b></li>
                                        <li class="list-group-item p-2">HTTP / TCP / TLS tunnels</li>
                                        <li class="list-group-item p-2">Priority mail support</li>

                                        <hr>
                                        <li class="text-gray-600">Coming soon</li>
                                        <li class="list-group-item p-2">Custom domain support</li>
                                    </ul>

                                    <a class="mt-auto w-100 btn btn-lg btn-primary" id="checkout-and-portal-button-3" href="https://dashboard.pinggy.io/billing/plans">Get Started</a>


                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="pricecard card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal">Pro Team</h4>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div class="yearly">
                                        <h1 class="card-title pricing-card-title">$40<small class="text-muted fw-light">/mo</small></h1>
                                        <span class="text-muted fw-light">(billed annually)</span>
                                    </div>
                                    <div class="monthly">
                                        <h1 class="card-title pricing-card-title">$44<small class="text-muted fw-light">/mo</small></h1>
                                        <span class="text-muted fw-light">(billed monthly)</span>
                                    </div>

                                    <ul class="list-unstyled mt-3 mb-4 list-group text-left">
                                        <li class="list-group-item p-2">Everyting in Pro plan</li>
                                        <li class="list-group-item p-2"><b>5 persistent tunnels</b></li>
                                        <li class="list-group-item p-2"><b>5 persistent subdomains</b></li>
                                        <li class="list-group-item p-2">Unrestricted bandwidth</li>
                                        <li class="list-group-item p-2">Slack Support</li>
                                        <hr>
                                        <li class="text-gray-600">Coming soon</li>
                                        <li class="list-group-item p-2">Account sharing with team</li>
                                    </ul>
                                    <a class="mt-auto w-100 btn btn-lg btn-primary" id="checkout-and-portal-button-3" href="https://dashboard.pinggy.io/billing/plans">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>


            </div>
        </div>
    </div>
</header>


{{ end }}

{{ define "pagespecificjs" }}
<script src="/js/index.js"></script>
{{ end }}
