{{ define "main" }}

<!-- Banner -->
<header class="pt-5 contentcontainer">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-lg-5">
                <div class="text-left my-5">
                    <h1 class="display-5 fw-bolder biggestheader d-inline">Public URLs for Localhost.</h1>
                    <span class="mb-2 mt-2 fs-3 d-block">Without downloading any binary!</span>
                    <div class="mt-4" id="lead2">Create HTTP, TCP or TLS tunnels to your Mac/PC.<br>Even if it is
                        sitting
                        behind firewalls and NATs.</div>
                    <div style="margin-top: 4em; max-width: 28em;">
                        <div style="font-weight: 500;"><span class="highlight">&nbspFree persistent URL&nbsp;</span> for
                            30 days & custom domain support:</div>
                        <div class="input-group mt-1">
                            <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                                aria-describedby="button-addon2" id="trialemail">
                            <div style="border-radius: 0.2em;" class="invalid-tooltip" id="emailinvalidtooltip">
                                Please enter a valid email
                            </div>
                            <button
                                style="border-color: rgb(71, 117, 198); background-color: rgba(70, 117, 199, 1); padding: 0.6em 1em; box-shadow: 0 0 4px 0px #a3599b8c; font-weight: 500;"
                                class="btn btn-secondary" type="button" id="button-addon2" onclick="starttrial()">Start
                                free trial</button>
                        </div>
                        <button onclick="trynow()" id="trynow">Or just try it for free →</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-3">
                <div class="text-left" id="bigcodecolumn">
                    <div class="px-4">
                        <button type="button" class="btn btn-link text-decoration-none float-end" data-bs-toggle="modal"
                            data-bs-target="#advancedModal" id="advancedModalButton">
                            <i class="bi bi-gear"></i> Advanced Settings <i class="bi bi-chevron-right" style="font-size: 0.8rem;"></i>
                        </button>

                        <div class="input-group mb-4 pt-1">

                            <label class="input-group-text" id="tryityourselftext">Try it yourself with:</label>

                            <select class="form-select" id="techselect">
                                <option data-label="You may start a local server using:"
                                    data-command="python3 -m http.server" data-port="8000" value="python" selected>
                                    Python</option>
                                <option data-label="You may start a local server using:" data-command="npx http-server"
                                    data-port="8080" value="nodejs">Node.js</option>
                                <option data-label="You may start a React.js app using:"
                                    data-command="npx create-react-app app && cd app && npm start" data-port="3000"
                                    value="reactjs">React.js</option>
                                <option data-label="You may start a Next.js app using:"
                                    data-command="npx create-next-app app && cd app && npm run dev" data-port="3000"
                                    value="nextjs">Next.js</option>
                                <option data-label="Nginx by default runs at port 80" data-command="" data-port="80"
                                    value="nginx">Nginx</option>
                            </select>

                        </div>

                        <label class="text-bold" id="tryityourselflabel">You may start a local server using:</label>
                        <div class="input-group mb-3">
                            <input id="tryityourselfprecommand" type="text" class="form-control"
                                value="python3 -m http.server" readonly>
                            <button class="btn btn-outline-dark" type="button" id="copybutton2"
                                onclick="copytoclipboard(this,'#tryityourselfprecommand', 'Pre command copy button clicked')"><i
                                    class="bi bi-clipboard"></i></button>
                        </div>


                        <form>
                            <label for="portform" class="text-bold"><strong>Your local port:</strong></label>
                            <input type="text" class="form-control" id="portform" placeholder="8000" value="8000">
                        </form>

                        <div class="mt-3">
                            <label class="switch">
                                <input type="checkbox" id="webdebuggerinput" checked>
                                <span class="slider round"></span>
                            </label>
                            <label class="form-check-label align-middle enablewebdebuglabel"
                                for="webdebuggerinput">Enable Web
                                Debugger</label>

                        </div>
                    </div>

                    <div id="finalcommand" class="border-top mt-3 px-4 py-3">
                        <label class="text-bold mt-2"><strong>Paste this command to start tunnel:</strong></label>
                        <div class="input-group mt-2">
                            <input id="portcommand" class="form-control"
                                value="ssh -p 443 -R0:localhost:8000 -L4300:localhost:4300 a.pinggy.io"
                                readonly="readonly"></input>
                            <button class="btn btn-dark" type="button" id="copybutton"
                                onclick="copytoclipboard(this,'#portcommand','SSH url copy button clicked')"><i
                                    class="bi bi-clipboard"></i></button>
                        </div>
                        <div class="mt-2" id="instructions">Enter "yes" to continue connecting. Enter blank password if
                            prompted.</div>
                        <div class="mt-2" id="webdebugurl">Default Web Debugger URL: <a href="http://localhost:4300"
                                target="_blank">http://localhost:4300</a>
                        </div>
                    </div>


                    <!-- <div>
                        <a href="https://dashboard.pinggy.io" id="signinbutton" class="btn btn-primary mt-3">Sign in for TCP and TLS tunnels</a> <span></span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="advancedModal" tabindex="-1" aria-labelledby="advancedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content px-2 pb-3">
            <div class="modal-header">
                <span class="modal-title" id="advancedModalLabel">Advanced HTTP(s) Tunnel Configuration</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-4">
                <form>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Select platform id" id="adv_platformselect">
                            <option value="unix" selected>Mac / Linux</option>
                            <option value="windows">Windows</option>
                        </select>
                        <label for="adv_platformselect">Platform</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="adv_localPort" placeholder="8000" value="8000">
                        <label for="adv_localPort">Local Port</label>
                    </div>

                    <div class="row">
                        <div class="col col-12 col-lg-6">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="adv_keepalive" checked>
                                <label class="form-check-label" for="adv_keepalive">Keep Alive <i class="bi bi-info-circle"
                                        type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                        title="Send keep alive packets for a stable tunnel"></i></label>
                            </div>
                        </div>
                        <div class="col col-12 col-lg-6">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="adv_restart">
                                <label class="form-check-label" for="adv_restart">Auto Reconnect <i class="bi bi-info-circle"
                                        type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                        title="Automatically reconnect tunnel on failure."></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-12 col-lg-6">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="adv_webdebugCheck" checked>
                                <label class="form-check-label" for="adv_webdebugCheck">Web Debugger</label>
                            </div>
                        </div>
                        <div class="col col-12 col-lg-6">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="adv_rsaCheck">
                                <label class="form-check-label" for="adv_rsaCheck">Manually check host key <i class="bi bi-info-circle"
                                    type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Type 'yes' to manually validate host key"></i></label>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-floating mb-3" id="adv_webdebuggerportselector">
                        <input type="number" class="form-control" id="adv_webdebugPort" placeholder="4300" value="4300">
                        <label for="adv_webdebugPort">Web Debugger Port</label>
                    </div>

                    <label class="form-check-label">Live Header Modifications <i class="bi bi-info-circle"
                        type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true"
                        title="Change request headers on the fly - <a href='/docs/advanced/live_header/' target='_blank'>read more.</a>"></i></label>
                    <div id="headermodificationcontainer">

                    </div>
                    <button type="button" class="btn btn-outline-dark mb-3 mt-2" onclick="addheadermodificationrow()">
                        <i class="bi bi-plus"></i> Add header modification rule</button>

                    <div>
                        <label class="text-bold mt-2"><strong>Paste this command to start tunnel:</strong></label>
                    </div>
                    <div class="input-group mt-1">
                        <textarea style="background: #fafaff; font-size: 0.9rem;" id="advancedcommand" class="form-control font-monospace" style="font-size: 0.8rem;"
                            readonly>ssh -p 443 -R 0:localhost:8000 -L 4300:localhost:4300 a.pinggy.io</textarea>
                        <button class="btn btn-outline-dark" type="button" id="copybutton"
                            onclick="copytoclipboard(this,'#advancedcommand','SSH url copy button clicked')"><i
                                class="bi bi-clipboard"></i></button>
                    </div>
                    <div class="mt-3" style="font-size: 0.8rem;" id="adv_webdebugurl">Web Debugger URL: <a href="http://localhost:4300" target="_blank">http://localhost:4300</a></div>
                    <div class="alert alert-warning mt-2 p-2" style="font-size: 0.9rem; display: none;" role="alert" id="adv_alert">
                        When the tunnel reconnects, your public URL will change. Upgrade to <a href="/#prices">Pinggy Pro</a> for persistent URLs.
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="display: none;" id="headermodificationinputsample">
        <div class="input-group headermodificationgroup">
            <select class="form-select headermodificationmode">
                <option value="a" selected>Add</option>
                <option value="u">Replace</option>
                <option value="r">Remove</option>
            </select>
            <input type="text" aria-label="header name" placeholder="Header Name" class="form-control headername">
            <input type="text" aria-label="header value" placeholder="Value" class="form-control headerval">
            <button class="btn btn-outline-danger removeheadermodificationrow" type="button"><i
                    class="bi bi-x"></i></a></button>
        </div>
    </div>
</div>


<!-- Features -->

<!-- Features section-->
<section class="pt-5" id="features">
    <div class="container my-5">
        <div class="my-3 row justify-content-center">
            <div class="col-lg-6">
                <h2 class="mb-5 text-left fw-light">Quickest way to <span id="textchanger"></span></h2>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="videocontainer ratio ratio-16x9">
                    <video preload="none" onclick="this.paused?this.play():this.pause();" loop
                        poster="/assets/tunnelvideothumb.jpg">
                        <source src="/assets/tunnelvideo.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i
                        class="bi bi-collection"></i></div>
                <h2 class="h3 fw-bolder">Share your websites and apps in seconds!</h2>
                <ul class="list-unstyled text-muted">
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Skip uploading to cloud</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> No need to download any tool</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Get custom subdomains</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Link your own domain</li>
                </ul>
                <a class="text-decoration-none pinggy-link" href="/docs/http_tunnels/">
                    Learn more
                    <i class="bi bi-arrow-up-right-square"></i>
                </a>
            </div>
        </div>

    </div>
</section>

<section class="pt-5 mt-5" id="features">
    <div class="container my-5">
        <div class="row justify-content-evenly">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i class="bi bi-bug"></i>
                </div>
                <h2 class="h3 fw-bolder">Debug on the go!</h2>
                <ul class="list-unstyled text-muted">
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Debug HTTP / HTTPS requests live</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> No need to download any tool</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Replay requests</li>
                </ul>
                <a class="text-decoration-none pinggy-link" href="/docs/http_tunnels/">
                    Learn more
                    <i class="bi bi-arrow-up-right-square"></i>
                </a>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/assets/webdebug.png" class="img-fluid featureimage" alt="Pinggy web debugger screenshot" />
            </div>
        </div>

    </div>
</section>

<section class="pt-5 mt-5" id="features">
    <div class="container my-5">
        <div class="row justify-content-evenly">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div id="carouselTUI" class="carousel slide featureimage" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="/assets/tui1.png" class="d-block w-100"
                                alt="Pinggy terminal user interface (TUI) screenshot showing list of requests">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/assets/tui2.png" class="d-block w-100"
                                alt="Pinggy terminal user interface (TUI) screenshot showing request and response headers of an HTTP request">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTUI"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTUI"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i
                        class="bi bi-terminal"></i></div>
                <h2 class="h3 fw-bolder">Rich Terminal Interface</h2>
                <ul class="list-unstyled text-muted">
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Live request logs</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> View request / response headers</li>
                    <li class="my-3"><i class="bi bi-check2-circle me-2"></i> Stats on bandwidth and more</li>
                </ul>
                <a class="text-decoration-none pinggy-link" href="/docs/http_tunnels/">
                    Learn more
                    <i class="bi bi-arrow-up-right-square"></i>
                </a>
            </div>

        </div>

    </div>
</section>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container my-5">
        <div class="my-3 row justify-content-center">
            <div class="col-lg-12">
                <h2 class="mb-5 text-center fw-light">Secure tunnels to your private network.</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img class="img-fluid" src="/assets/header5.png"
                    alt="Pinggy tunnel network diagram showing how the tunnel works" />
            </div>
        </div>

    </div>
</section>





<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i
                        class="bi bi-collection"></i></div>
                <h2 class="h3 fw-bolder">Share files instantly</h2>
                <p>Get a public URL for your files and share them directly from your laptop.</p>
                <!-- 
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a> 
                        -->
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i class="bi bi-cpu"></i>
                </div>
                <h2 class="h3 fw-bolder">Connect your IoT</h2>
                <p>Access your IoT devices from anywhere with Pinggy public URLs. You can also now SSH into your devices
                    through Pinggy TCP tunnels.</p>
                <!--                         
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                         -->
            </div>
            <div class="col-lg-4">
                <div class="feature bg-subtlegray border-subtlegray text-gray rounded-3 mb-3"><i
                        class="bi bi-toggles2"></i></div>
                <h2 class="h3 fw-bolder">Receive Webhooks</h2>
                <p>Host your chatbots in your local network and receive webhooks through Pinggy tunnel.</p>
                <!--                         
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                         -->
            </div>
        </div>
    </div>
</section>


<header class="bg-light py-5" id="prices">
    <div class="container">
        <div class="row justify-content-md-center">
            <!-- Begin Page Content -->
            <div class="col-lg-12">

                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="text-bold fw-normal">Subscribe to the easiest localhost tunneling.</h1>
                    <p class="fs-5 text-muted">Make your developement experience smoother by unlocking the full
                        potential of Pinggy.</p>
                </div>
                <div class="text-center">
                    <span class="fs-5 px-4 py-2 badge" style="background: rgba(70, 117, 199, 1) !important">Limited time
                        offer!</span>
                </div>

                <div class="mb-3">
                    <label class="toggler toggler--is-active align-middle" id="filt-monthly">Monthly</label>
                    <label class="switch">
                        <input id="toggleswitch" type="checkbox" checked="">
                        <span class="slider round"></span>
                    </label>
                    <label class="toggler align-middle" id="filt-hourly">Yearly</label><span class="align-middle"
                        style="color: rgba(70, 117, 199, 1); font-size: 0.8em;"> (Save upto 17%)</span>

                </div>

                <main>
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                            <div class="pricecard card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Free</h4>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div>
                                        <h1 class="card-title pricing-card-title">$0<small
                                                class="text-muted fw-light">/month</small></h1>
                                        <span class="text-muted fw-light">Free for life</span>
                                    </div>
                                    <ul class="list-unstyled mt-3 mb-4 list-group text-left">
                                        <li class="list-group-item p-2">Single command tunneling</li>
                                        <li class="list-group-item p-2">HTTP and HTTPS tunnels</li>
                                        <li class="list-group-item p-2">Request-response inspection & replays</li>
                                        <li class="list-group-item p-2">TCP and TLS tunnels</li>
                                        <li class="list-group-item p-2"><b>60 minutes tunnel timeout</b></li>
                                        <li class="list-group-item p-2">Random subdomains</li>
                                        <li class="list-group-item p-2">Restricted bandwidth and connections</li>
                                        <li class="list-group-item p-2">Free mail support</li>
                                    </ul>
                                    <a class="mt-auto" href="https://dashboard.pinggy.io/"><button type="button"
                                            class="w-100 btn btn-lg btn-outline-pinggy">Go to dashboard</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="pricecard card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Pro</h4>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div class="yearly">
                                        <h2 class="card-title pricing-card-title"><small
                                                class="text-muted fw-light"><del>$5.00 /month</del></small></h2>
                                        <h1 class="card-title pricing-card-title">$2.50<small
                                                class="text-muted fw-light">/month</small></h1>
                                        <span class="text-muted fw-light">(billed annually)</span>
                                    </div>
                                    <div class="monthly">
                                        <h2 class="card-title pricing-card-title"><small
                                                class="text-muted fw-light"><del>$6.0 /month</del></small></h2>
                                        <h1 class="card-title pricing-card-title">$3<small
                                                class="text-muted fw-light">/month</small></h1>
                                        <span class="text-muted fw-light">(billed monthly)</span>
                                    </div>
                                    <ul class="list-unstyled mt-3 mb-4 text-left list-group">
                                        <li class="list-group-item p-2 bg-light">Everyting in Free plan plus:</li>
                                        <li class="list-group-item p-2"><b>1 persistent tunnel</b></li>
                                        <li class="list-group-item p-2"><b>Custom subdomain</b></li>
                                        <li class="list-group-item p-2"><b>Custom domain</b></li>
                                        <li class="list-group-item p-2">Priority mail support</li>

                                        <li class="text-secondary mt-4">(Coming soon)</li>
                                        <li class="list-group-item p-2">Live header manipulation</li>
                                    </ul>

                                    <a class="mt-auto w-100 btn btn-lg btn-pinggy" id="checkout-and-portal-button-3"
                                        href="https://dashboard.pinggy.io">Get Started</a>


                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="pricecard card mb-4 rounded-3 shadow-sm border-gray">
                                <div class="card-header py-3 text-white bg-gray border-gray">
                                    <h4 class="my-0 fw-normal">Pro Team</h4>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div class="yearly">
                                        <h2 class="card-title pricing-card-title"><small
                                                class="text-muted fw-light"><del>$20 /month</del></small></h2>
                                        <h1 class="card-title pricing-card-title">$10<small
                                                class="text-muted fw-light">/month</small></h1>
                                        <span class="text-muted fw-light">(billed annually)</span>
                                    </div>
                                    <div class="monthly">
                                        <h2 class="card-title pricing-card-title"><small
                                                class="text-muted fw-light"><del>$24.0 /month</del></small></h2>
                                        <h1 class="card-title pricing-card-title">$12<small
                                                class="text-muted fw-light">/month</small></h1>
                                        <span class="text-muted fw-light">(billed monthly)</span>
                                    </div>

                                    <ul class="list-unstyled mt-3 mb-4 list-group text-left">
                                        <li class="list-group-item p-2 bg-light">Everyting in Pro plan plus:</li>
                                        <li class="list-group-item p-2"><b>5 persistent tunnels</b></li>
                                        <li class="list-group-item p-2"><b>5 custom subdomains</b></li>
                                        <li class="list-group-item p-2"><b>5 custom domains</b></li>
                                        <li class="list-group-item p-2">Slack Support</li>
                                        <li class="text-secondary mt-4">(Coming soon)</li>
                                        <li class="list-group-item p-2">Account sharing with team</li>
                                    </ul>
                                    <a class="mt-auto w-100 btn btn-lg btn-pinggy" id="checkout-and-portal-button-3"
                                        href="https://dashboard.pinggy.io">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>


            </div>
        </div>
    </div>
</header>

<!-- Features section-->
<section class="py-5 border-top" id="faq">
    <div class="container my-5">
        <div class="my-3 row justify-content-center">
            <div class="col-lg-12">
                <h2 class="mb-5 text-center fw-light">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="accordion" id="accordionFaq">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                The command uses SSH. Doesn't it open up my computer to threats?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>
                                    Pinggy relies on SSH remote port forwarding. The option
                                    <code>-R 0:localhost:8000</code> in the command only implies that connections to the
                                    public URL given by pinggy are forwarded to your <code>localhost:8000</code>.
                                </p>
                                <p class="alert alert-dark bg-light bg-gradient">
                                    No other port than the one specified by you can be accessed by Pinggy or by anyone
                                    through the public URLs provided by Pinggy.
                                </p>
                                <p>
                                    You can read more about the <code>-R</code> option of openssh client <a
                                        href="https://man7.org/linux/man-pages/man1/ssh.1.html"
                                        target="_blank">here</a>. If you are using a different ssh client, then refer to
                                    its documentation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingServerLocation">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseServerLocation" aria-expanded="false"
                                aria-controls="collapseServerLocation">
                                Where are Pinggy servers located?
                            </button>
                        </h2>
                        <div id="collapseServerLocation" class="accordion-collapse collapse"
                            aria-labelledby="headingServerLocation" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>
                                    <code>a.pinggy.io</code> is located in USA</code>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                The URL changes after I restart the tunnel.
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Pinggy's free plan has a tunnel timeout of 60 minutes. If the tunnel is closed by you
                                    or reaches the time limit, starting a new tunnel will generate a new URL.</p>
                                <p>To obtain a permanent or persistent URL, or to use your own domain, you must
                                    subscribe to Pinggy Pro.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Does it work on all platforms: Linux, Windows, Mac, and Android?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Yes. Current versions of Windows, Mac, as well as almost all Linux distributions come
                                    with openssh client pre-installed. Therefore Pinggy will just work out of the box.
                                </p>
                                <p>To learn more about using Pinggy on Android read our <a
                                        href="https://pinggy.io/blog/host_website_on_android/" target="_blank">blog
                                        post.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How to use TCP and TLS tunnels?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>You can use TCP and TLS tunnels for free with Pinggy. You just need to <a
                                        href="https://dashboard.pinggy.io/">sign-up with a free account.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                My tunnel breaks or stops working after a few minutes.
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Read our guide on long running tunnels <a
                                        href="https://pinggy.io/docs/guides/long_running_tunnels/"
                                        target="_blank">here</a>. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{{ end }}

{{ define "pagespecificjs" }}
<script src="/js/index.js?v=1"></script>
{{ end }}